* {
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

.pokemon-list {
  display: grid;
  list-style: none;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
}
.pokemon-item {
  width: 10rem;
  height: 10rem;
  align-content: center;
  border-radius: 15px;
  background-color: rgb(81, 139, 108);
}
.pokemon-item > img {
}
